@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: "Plus Jakarta Sans", sans-serif;
}

/* TINYMCE */
div.tox-statusbar__right-container {
	@apply !hidden;
}

/* BLOCKNOTE */
div.mantine-Editor-root > div > div[data-node-type="blockGroup"] {
	padding-left: 8px !important;
}
div.mantine-Editor-root > div.tiptap {
	padding-inline: 54px 10px !important;
}
input.mantine-Input-input.mantine-TextInput-input {
	@apply dark:text-white dark:bg-neutral-900 !border !border-neutral-300 dark:!border-neutral-700 !px-2 !rounded;
	border: 1px solid #bababa !important;
}
div.mantine-Group-root.mantine-Toolbar-root {
	@apply flex-wrap sm:flex-nowrap overflow-auto;
}

/* REACT QUILL  */
.ql-container.ql-snow {
  min-height: 200px;
}
.ql-toolbar.ql-snow {
  @apply rounded-t-md dark:!border-neutral-700;
}
.ql-container.ql-snow {
  @apply rounded-b-md dark:!border-neutral-700;
}
.ql-picker-label {
  @apply dark:!text-white;
}
.ql-picker-options {
  @apply dark:!border-neutral-700 dark:!bg-neutral-900 dark:text-neutral-100;
}
span[aria-expanded='true'].ql-picker-label {
  @apply dark:!border-neutral-700;
}
.ql-snow .ql-stroke {
  @apply dark:stroke-neutral-300;
}
.ql-snow .ql-stroke-miter {
  @apply dark:stroke-neutral-300;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  @apply dark:fill-neutral-300;
}
.ql-container.ql-snow {
  @apply dark:!border-neutral-700;
}
.ql-editor {
  @apply text-[15px] dark:!text-neutral-200;
  /* @apply dark:!text-neutral-200 !prose dark:!prose-invert; */
}
.ql-tooltip {
  @apply dark:!border-neutral-700 dark:!bg-neutral-800 dark:!text-neutral-100 dark:!shadow-none;
}
.ql-tooltip.ql-editing {
  @apply dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-100 dark:shadow-none;
}
.ql-tooltip.ql-editing > input {
  @apply dark:!border-neutral-700 dark:bg-neutral-800 dark:text-neutral-100 dark:shadow-none;
}

/* TEXT INSIDE EDITOR */
.ql-editor.ql-blank::before {
  @apply pt-2 text-neutral-600 dark:text-neutral-400;
}

.ql-snow .ql-editor h1 {
  @apply mb-1 mt-4 font-bold text-neutral-950 dark:text-white;
}

.ql-snow .ql-editor h2 {
  @apply mb-1 mt-4 font-bold text-neutral-950 dark:text-white;
}

.ql-snow .ql-editor h3 {
  @apply mb-1 mt-4 font-semibold text-neutral-950 dark:text-white;
}

.ql-snow .ql-editor h4 {
  @apply mb-1 mt-4 font-semibold text-neutral-950 dark:text-white;
}

.ql-snow .ql-editor p {
  @apply my-1 leading-6 text-neutral-800 dark:text-neutral-200;
}

.ql-snow .ql-editor ol {
  @apply my-2;
}

.ql-snow .ql-editor ol > li {
  @apply my-1;
}

.ql-snow .ql-editor blockquote {
  @apply !my-2;
}

.ql-snow .ql-editor img {
  @apply mx-auto my-4 h-64 w-full !max-w-2xl rounded object-center sm:h-72 md:h-96;
}

.ql-editor .ql-video {
  @apply mx-auto my-4 h-64 w-full !max-w-2xl sm:h-72 md:h-96;
}

/* Quill Read Only */
.ql-bubble .ql-editor h1 {
  @apply mb-1 mt-4 font-bold text-neutral-950 dark:text-white;
}

.ql-bubble .ql-editor h2 {
  @apply mb-1 mt-4 font-bold text-neutral-950 dark:text-white;
}

.ql-bubble .ql-editor h3 {
  @apply mb-1 mt-4 font-semibold text-neutral-950 dark:text-white;
}

.ql-bubble .ql-editor h4 {
  @apply mb-1 mt-4 font-semibold text-neutral-950 dark:text-white;
}

.ql-bubble .ql-editor p {
  @apply my-1 leading-6 text-neutral-800 dark:text-neutral-200;
}

.ql-bubble .ql-editor ol {
  @apply my-2;
}

.ql-bubble .ql-editor ol > li {
  @apply my-1;
}

.ql-bubble .ql-editor blockquote {
  @apply !my-2;
}

.ql-bubble .ql-editor img {
  @apply mx-auto my-4 h-64 w-full !max-w-2xl rounded object-center sm:h-72 md:h-96;
}
/* 
.ql-picker-label {
	@apply dark:!text-white dark:hover:!invert-0;
}
.ql-picker-label > svg {
	@apply dark:invert;
}
.ql-picker-options > .ql-picker-item > svg {
	@apply dark:invert;
}
.ql-formats > button {
	@apply dark:invert;
} */


/* REACT DRAFT WYSWYG  */
.rdw-dropdown-wrapper {
	@apply dark:text-black;
}

.rdw-colorpicker-wrapper {
	@apply dark:text-black;
}

.rdw-link-wrapper {
	@apply dark:text-black;
}

.rdw-link-modal > input {
	@apply dark:bg-white;
}

.rdw-embed-wrapper,
.rdw-embedded-modal {
	@apply dark:text-black;
}

.rdw-embedded-modal-link-section > span > input {
	@apply dark:bg-white;
}

.rdw-embedded-modal-size > span > input {
	@apply dark:bg-white;
}

.rdw-image-wrapper {
	@apply dark:text-black;
}

.rdw-image-modal-size > input {
	@apply dark:bg-white;
}

.rdw-image-modal-url-section > input {
	@apply dark:bg-white;
}

/* REACT DRAFT THEME */
.rdw-editor-toolbar {
	@apply dark:bg-neutral-900 dark:border-neutral-800;
}
.rdw-option-wrapper {
	@apply dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:border-neutral-800 dark:hover:shadow dark:hover:shadow-neutral-700;
}
.rdw-option-wrapper > img {
	@apply dark:invert;
}
.rdw-dropdown-wrapper {
	@apply dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-100 dark:border-neutral-800 dark:hover:shadow dark:hover:shadow-neutral-700;
}
.rdw-dropdown-carettoopen,
.rdw-dropdown-carettoclose {
	@apply dark:invert;
}
.rdw-dropdown-optionwrapper {
	@apply dark:bg-neutral-900 dark:border-neutral-800 dark:hover:bg-neutral-900 dark:hover:shadow-none;
}
.rdw-dropdownoption-highlighted {
	@apply dark:bg-neutral-800;
}
.rdw-dropdownoption-active {
	@apply dark:bg-neutral-800;
}
.rdw-colorpicker-modal {
	@apply dark:bg-neutral-900 dark:text-neutral-100 dark:border-neutral-800 dark:shadow-none;
}
.rdw-link-modal {
	@apply dark:bg-neutral-900 dark:text-neutral-100 dark:border-neutral-800 dark:shadow-none;
}
.rdw-link-modal-input {
	@apply dark:!bg-neutral-900 dark:border-neutral-800;
}
.rdw-link-modal-target-option > input {
	@apply dark:!bg-neutral-900 dark:border-neutral-700 rounded dark:ring-offset-neutral-900;
}
.rdw-link-modal-target-option > span {
	@apply !ml-2;
}
.rdw-link-modal-btn {
	@apply dark:bg-neutral-700 dark:text-white disabled:cursor-not-allowed dark:border-neutral-800 dark:disabled:bg-neutral-700 dark:hover:bg-neutral-800 transition-all dark:hover:shadow-none;
}
.rdw-embedded-modal {
	@apply dark:bg-neutral-900 dark:text-neutral-100 dark:border-neutral-800 dark:shadow-none;
}
.rdw-embedded-modal-link-input,
.rdw-embedded-modal-size-input,
.rdw-embedded-modal-size-input {
	@apply dark:!bg-neutral-900 dark:border-neutral-700 rounded dark:ring-offset-neutral-900;
}
.rdw-embedded-modal-btn {
	@apply dark:bg-neutral-700 dark:text-white disabled:cursor-not-allowed dark:border-neutral-800 dark:disabled:bg-neutral-700 dark:hover:bg-neutral-800 transition-all dark:hover:shadow-none;
}
.rdw-emoji-modal {
	@apply dark:bg-neutral-900 dark:text-neutral-100 dark:border-neutral-800 dark:shadow-none;
}
.rdw-image-modal {
	@apply dark:bg-neutral-900 dark:text-neutral-100 dark:border-neutral-800 dark:shadow-none transform -translate-x-[80%] sm:translate-x-0;
}
.rdw-image-modal-header-label,
.rdw-embedded-modal-header-label {
	@apply dark:border-blue-600;
}
.rdw-image-modal-url-input,
.rdw-image-modal-size-input {
	@apply dark:!bg-neutral-900 dark:border-neutral-700 rounded dark:ring-offset-neutral-900;
}
.rdw-image-modal-btn {
	@apply dark:bg-neutral-700 dark:text-white disabled:cursor-not-allowed dark:border-neutral-800 dark:disabled:bg-neutral-700 dark:hover:bg-neutral-800 transition-all dark:hover:shadow-none;
}
.rdw-dropdown-selectedtext > img {
	@apply dark:invert;
}
.rdw-dropdownoption-default.rdw-inline-dropdownoption > img {
	@apply dark:invert;
}
.rdw-dropdownoption-default.rdw-link-dropdownoption > img {
	@apply dark:invert;
}
.rdw-image-modal-upload-option {
	@apply dark:bg-neutral-800;
}
.rdw-dropdownoption-default.rdw-history-dropdownoption > img {
	@apply dark:invert;
}

/* WANGEDITOR  */
.w-e-full-screen-container {
	@apply z-50;
}

@layer utilities {
	.prose :where(iframe):not(:where([class~="not-prose"] *)) {
		@apply aspect-video w-[650px] h-auto mx-auto;
	}
}

span[contenteditable="false"] > input[type="checkbox"] {
	@apply bg-white dark:bg-white checked:bg-green-500 dark:checked:bg-green-500 
	focus:border-indigo-300 focus:ring-0 focus:ring-offset-0 rounded border;
}

.prose > div[data-w-e-type="todo"] > input[type="checkbox"] {
	@apply bg-white dark:bg-[#111] checked:bg-green-500 dark:checked:bg-green-500 focus:border-indigo-300 rounded border mr-2;
}

.w-e-bar {
	@apply dark:bg-neutral-900;
}
.w-e-bar svg {
	@apply dark:fill-neutral-200;
}
.w-e-bar-item > button {
	@apply dark:hover:bg-neutral-800;
}
.w-e-bar-divider {
	@apply dark:bg-neutral-700;
}
.w-e-bar-item button {
	@apply dark:text-neutral-200 dark:hover:text-white;
}
.w-e-select-list {
	@apply dark:bg-neutral-900 dark:border-neutral-700;
}
.w-e-select-list ul .selected {
	@apply dark:bg-neutral-800 dark:text-white;
}
.w-e-select-list ul li {
	@apply dark:hover:bg-neutral-800 dark:text-white;
}
.w-e-bar-item-group .w-e-bar-item-menus-container {
	@apply dark:bg-neutral-900 dark:border-neutral-700;
}
.w-e-drop-panel {
	@apply dark:bg-neutral-900 dark:border-neutral-700 dark:text-white;
}
.w-e-panel-content-color li {
	@apply dark:border-neutral-800;
}
.w-e-panel-content-color li:hover {
	@apply dark:bg-neutral-800 dark:border-neutral-100;
}
.w-e-modal {
	@apply dark:bg-neutral-900 dark:border-neutral-700 dark:text-white;
}
.w-e-modal input[type="number"],
.w-e-modal input[type="text"],
.w-e-modal textarea {
	@apply dark:bg-neutral-900 dark:border-neutral-700 dark:text-white;
}
.w-e-modal button {
	@apply dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:border-neutral-700 dark:text-white;
}
.w-e-panel-content-table {
	@apply dark:bg-neutral-900;
}
.w-e-panel-content-table td {
	@apply dark:border-neutral-700;
}
.w-e-panel-content-table td.active {
	@apply dark:bg-neutral-800;
}
.w-e-bar-item .active {
	@apply dark:!bg-neutral-700 !bg-neutral-200;
}
.w-e-hover-bar {
	@apply dark:border-neutral-700;
}
.w-e-panel-content-emotion li:hover {
	@apply dark:bg-neutral-700;
}
.w-e-text-container {
	@apply dark:bg-neutral-900 dark:text-neutral-100;
}
.w-e-text-container [data-slate-editor] blockquote {
	@apply dark:bg-neutral-800 !border-l-4 dark:!border-l-neutral-500 !border-l-neutral-400;
}
.w-e-text-container [data-slate-editor] table th {
	@apply dark:bg-neutral-900 dark:text-neutral-100;
}
.table-container > table > tbody > tr > th {
	@apply !border-r-0 dark:!border-r-0;
}
.table-container > table > tbody > tr > th:last-child {
	@apply !border-r dark:!border-r;
}
.w-e-text-container [data-slate-editor] table th {
	@apply dark:bg-neutral-800;
}
.w-e-text-container [data-slate-editor] table td, .w-e-text-container [data-slate-editor] table th {
@apply dark:border-neutral-600;
}