@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: "Plus Jakarta Sans", sans-serif;
}

/* BLOCKNOTE */
div.mantine-Editor-root > div > div[data-node-type="blockGroup"] {
	padding-left: 8px !important;
}
div.mantine-Editor-root > div.tiptap {
	padding-inline: 54px 10px !important;
}
input.mantine-Input-input.mantine-TextInput-input {
	@apply dark:text-white dark:bg-neutral-900 !border !border-neutral-300 dark:!border-neutral-700 !px-2 !rounded;
	border: 1px solid #bababa !important;
}
div.mantine-Group-root.mantine-Toolbar-root {
	@apply flex-wrap sm:flex-nowrap overflow-auto
}

/* REACT QUILL  */
.ql-container.ql-snow {
	min-height: 200px;
}

/* REACT DRAFT WYSWYG  */
.rdw-dropdown-wrapper {
	@apply dark:text-black;
}

.rdw-colorpicker-wrapper {
	@apply dark:text-black;
}

.rdw-link-wrapper {
	@apply dark:text-black;
}

.rdw-link-modal > input {
	@apply dark:bg-white;
}

.rdw-embed-wrapper,
.rdw-embedded-modal {
	@apply dark:text-black;
}

.rdw-embedded-modal-link-section > span > input {
	@apply dark:bg-white;
}

.rdw-embedded-modal-size > span > input {
	@apply dark:bg-white;
}

.rdw-image-wrapper {
	@apply dark:text-black;
}

.rdw-image-modal-size > input {
	@apply dark:bg-white;
}

.rdw-image-modal-url-section > input {
	@apply dark:bg-white;
}

/* WANGEDITOR  */
.w-e-full-screen-container {
	@apply z-50;
}

@layer utilities {
	.prose :where(iframe):not(:where([class~="not-prose"] *)) {
		@apply aspect-video w-[650px] h-auto mx-auto;
	}
}

span[contenteditable="false"] > input[type="checkbox"] {
	@apply bg-white dark:bg-white checked:bg-green-500 dark:checked:bg-green-500 
	focus:border-indigo-300 focus:ring-0 focus:ring-offset-0 rounded border;
}

.prose > div[data-w-e-type="todo"] > input[type="checkbox"] {
	@apply bg-white dark:bg-[#111] checked:bg-green-500 dark:checked:bg-green-500 focus:border-indigo-300 rounded border mr-2;
}
