@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: "Plus Jakarta Sans", sans-serif;
}

/* REACT DRAFT WYSWYG  */
.rdw-dropdown-wrapper {
	@apply dark:text-black;
}

.rdw-colorpicker-wrapper {
	@apply dark:text-black;
}

.rdw-link-wrapper {
	@apply dark:text-black;
}

.rdw-link-modal > input {
	@apply dark:bg-white;
}

.rdw-embed-wrapper,
.rdw-embedded-modal {
	@apply dark:text-black;
}

.rdw-embedded-modal-link-section > span > input {
	@apply dark:bg-white;
}

.rdw-embedded-modal-size > span > input {
	@apply dark:bg-white;
}

.rdw-image-wrapper {
	@apply dark:text-black;
}

.rdw-image-modal-size > input {
	@apply dark:bg-white;
}

.rdw-image-modal-url-section > input {
	@apply dark:bg-white;
}

/* WANGEDITOR  */
.w-e-full-screen-container {
	@apply z-50;
}

@layer utilities {
	.prose :where(iframe):not(:where([class~="not-prose"] *)) {
		@apply aspect-video w-[650px] h-auto mx-auto;
	}
}